[submodule "nvim"]
	path = nvim
	url = git@github.com:dChancellor/nvim.git
[submodule "Alexandria"]
	path = Alexandria
	url = git@github.com:dChancellor/Alexandria.git
	branch = main
[submodule "install/neovim"]
	path = install/neovim
	url = https://github.com/neovim/neovim
[submodule "install/tmux"]
	path = install/tmux
	url = https://github.com/tmux/tmux
[submodule "install/fzf"]
	path = install/fzf
	url = https://github.com/junegunn/fzf
