###
# Tmux aliases
###
alias tmux='tmux -f "$CONFIGS_PATH"/tmux/tmux.conf'
alias tkill='tmux kill-session'
alias tk='tmux kill-session'

###
# Npm aliases
###
alias ns='npm start'
alias start='npm start'
alias nr='npm run'
alias run='npm run'
alias nis='npm i -S'

###
# Navigation aliases
###
alias l="ls"      # List files in current directory
alias ll="ls -al" # List all files in current directory in long list format
alias fn="fuzzynavigate" # Fuzzy find directory

###
# Other aliases
###
alias vi="nvim"

###
# Git aliases
###
alias ga="git add ."
alias gc="git commit -m"
alias gnw="git clone --bare"



